<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Todo 2.0</title>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h2>Todo App</h2>
    <a href="?clearAll=Y">Clear all ? </a>
    {{s | safe}}
    <form action="" method="get">
    <input type="text" id="description" class="taskName" placeholder="What do you need to do?" name="description">
    <button class="taskAdd" name="taskAdd" type="submit"  id="-1" value="-1">Add task</button>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>